
body
 background-color : #eeeeee

#header
 position: relative
 overflow: hidden
 background-color : #2A2A2A
 box-shadow: 0px 0px 10px 5px rgba(0.5, 0.5, 0.5, 0.5)

#header .menu
 position: relative
 left: 50%
 float: left

#header .selected
 position: relative
 left: -50%
 float: left
 background-color : #406080
 padding: 1px 10px 1px 10px

#header .unselected
 position: relative
 left: -50%
 float: left
 padding: 1px 10px 1px 10px

#header .unselected:hover
 background-color : #6A6A6A

#header h1
 width: 120px
 height: 24px
 color : #ffffff
 font-size : 14px
 font-family : "verdana","serif","Hiragino Kaku Gothic Pro","Meiryo","sans-serif"

#header a
 color : #ffffff
 text-decoration : none
 border : 0

#contents
 width : 100%

#contents .eyecatch
 position: relative
 text-align: center

#contents .eyecatch img
 width : 100%
 margin: 20px 0px 0px 0px
 display: inline-block

#contents .eyecatch p
 font-family : "verdana","serif","Hiragino Kaku Gothic Pro","Meiryo","sans-serif"
 background-color : #84a5ce
 color : #ffffff

#contents h1
 color : #000000

#contents h2
 color : #000000

#contents h3
 color : #000000

#contents .main
 width: 1000px
 margin: 0 auto

#contents
 color : #000000
 font-family : "verdana","serif","Hiragino Kaku Gothic Pro","Meiryo","sans-serif"

#contents a:link
 color : #222222

#contents a:visited
 color : #333333

#contents a:hover
 color : #444444

#contents .panelcontainer
 position: relative
 overflow: hidden

#contents .panels
 position: relative
 left: 50%
 float: left

#contents .panel
 position: relative
 left: -50%
 float: left
 background-color : #406080
 padding: 1px 10px 1px 10px
 margin: 10px
 width: 200px
 height: 200px

#contents .panel h3
 color : #ffffff
 font-size : 16px
 font-family : "verdana","serif","Hiragino Kaku Gothic Pro","Meiryo","sans-serif"
 text-align: center

#contents .panel h4
 color : #ffffff
 font-size : 14px
 font-family : "verdana","serif","Hiragino Kaku Gothic Pro","Meiryo","sans-serif"
 text-align: center

#contents .panel a:link
 color : #cccccc

#contents .panel a:visited
 color : #cccccc

#contents .panel a:hover
 color : #ffffff