---
title: コミュニティ
kind: community
---

#contents
	.main
		h2 コミュニティ

		h3 フォーラム

		p 準備中

		h3 Slack

		p 
			|
				Slack上のAltseedのチームです。開発の内容から雑談、ユーザー同士の交流まで行っています。
				お気軽に参加どうぞ。

		p 
			|
				参加したい方は、下記のリンクから名前とメールアドレスを連絡するようお願いします。
				連絡を受け次第、Slackに追加させていただきます。数日たっても返答がない場合は、お手数ではありますが
				再度登録フォームに連絡するようお願いします。

		a href="https://docs.google.com/forms/d/1u36czwTTq1TYkGjWizIfc3ntAy6DuivFKh3zadcd0Gg" Slack登録フォームへ

		h3 github

		p 
			|
				Altseedはオープンソースであり、github上で開発されています。バグ報告や機能要望をgithubのissueに投稿すると
				その内容はすぐに主要な開発者全員に連絡が伝わります。そのため特に強いバグ修正や機能の要望を連絡する時に便利です。

		p
			|
				当然、オープンソースですので外部からのドキュメントの修正、機能追加やバグ修正等も常時、受け付けています。
				お気軽にPullRequestをどうぞ。

		p
			|
				githubに掲載されているgitterというチャットにて毎週、開発に関するミーティングを行っています。
				開発に携わってみたい方は是非とも参加をお願いします。

		a href="https://github.com/Altseed/Altseed" githubへ


		h3 メールアドレス

		p
			|
				内容が公開されては困る話や他の連絡手段がない場合はこちらへ。

		p amuc.engine(at)@gmail.com
