---
title: ダウンロード
kind: download
---

h3 ダウンロード

p ※ Linux版はユーザー自身でコンパイルする必要があります。

p ※ Mac版は現在テスト中につき、バイナリのみの頒布となっております。
	
p ※ 導入方法はパッケージ内のDocument/に記述されています。

h4 C#版

p
	a href="https://github.com/altseed/Altseed/releases/download/20150531/ACE_CS_20150531_WIN.zip" Windows

p
	a href="https://github.com/altseed/Altseed/releases/download/20150531/ACE_CS_20150602_MAC.zip" MacOSX

h4 C++版

p
	a href="https://github.com/altseed/Altseed/releases/download/20150531/ACE_CPP_20150531_WIN.zip" Windows

p
	a href="https://github.com/altseed/Altseed/releases/download/20150531/ACE_CPP_20150531_MAC.zip" MacOSX

h3 動作環境

a href="/system_requirements.html" こちらを御覧ください。

