---
title: よくある質問
kind: faq
code_selector: "off"
---

h2 配布に関して

p Altseedを使用したアプリケーションを配布したいのですがよろしいでしょうか?

p 全く問題ありません。ただ、配布する際は、下記のライセンスのファイルを同梱するようお願いします。

p Windowsの場合、実行に必要なDirectX エンド ユーザー ランタイム と .NET Framework4.5 がインストールされている必要があることを明記しておくことをおすすめします。

h2 自作のアプリケーションにAltseedを使用したいのですがライセンスの表記はどうすればいいでしょうか?

p ライセンスをアプリケーションのヘルプ等に掲載してください。

a href ="https://github.com/Altseed/altseed/blob/master/LICENSE" ライセンス

h2 ゲーム中の画像をプレイヤーに見られたくないのですがどうすればいいでしょうか?

p ファイルパッケージジェネレーターを使用すると全ての画像や音楽ファイルを1つにまとめることができます。

a href ="/Doc/Reference/Tool/FilePackageGenerator.html" ファイルパッケージジェネレーター

p 1つにまとめられたパッケージからファイルを読み込む方法はファイルの機能を参照お願いします。

a href ="/Doc/Reference/IO/File.html" ファイル
