---
title: Github
kind: github
code_selector: "off"
---

h2 Github

p 
	|
		Altseedはオープンソースであり、github上で開発されています。バグ報告や機能要望をgithubのissueに投稿すると
		その内容はすぐに主要な開発者全員に連絡が伝わります。そのため特に強いバグ修正や機能の要望を連絡する時に便利です。

p
	|
		当然、オープンソースですので外部からのドキュメントの修正、機能追加やバグ修正等も常時、受け付けています。
		お気軽にPullRequestをどうぞ。

p
	|
		githubに掲載されているgitterというチャットにて毎週、開発に関するミーティングを行っています。
		開発に携わってみたい方は是非とも参加をお願いします。

a href="https://github.com/Altseed/Altseed" githubへ


	