---
title: Slack
kind: slack
code_selector: "off"
---

h2 Slack

p 
	|
		Slack上のAltseedのチームです。開発の内容から雑談、ユーザー同士の交流まで行っています。
		お気軽に参加どうぞ。

p 
	|
		参加したい方は、下記のリンクから名前とメールアドレスを連絡するようお願いします。
		連絡を受け次第、Slackに追加させていただきます。数日たっても返答がない場合は、お手数ではありますが
		再度登録フォームに連絡するようお願いします。


iframe src="https://docs.google.com/forms/d/1FH69Jmaz8GsvYs-Qf2VKAVa-VFY4l7R9HRMcLxmZ-7o/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" 読み込み中...

