---
title: 動作環境
kind: system_requirements
code_selector: "off"
---

h2 実行に必要な環境

h3 Windows

p ・OS : Windows Vista以降のOS
p ・GPU : GeForce 8400、Radeon HD 2400、Intel HD Graphics 以降のGPU
p ・.NetFramework4.5
a href="https://www.microsoft.com/ja-jp/download/details.aspx?id=30653" ダウンロード

p ・DirectX EndUserRuntime
a href="https://www.microsoft.com/ja-jp/download/details.aspx?id=35" ダウンロード

h3 Mac

p ・OS : Mac OS X Mavericks 以降のOS

p ※ 仮想環境でWindows版を動かす場合、Parallels Desktop 10以降

h2 開発に必要な環境

p 実行に必要な環境を満たしている必要があります。

h3 Windows

p ・Visual Studio 2013以降 (C++/C#)

h4 Mac

p ・XCode 6.2以降 (C++)
p ・Xamarin Studio 5.9以降 (C#)




